<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/icons/fontello.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="img_fondo">
            <img src="/img/bgPasos.jpg.png" alt="">
        </div>
    </header>
    <main>
        <nav class="contenido">
            <div class="logos">
                <div>
                    <img src="/img/logo academias nacionales.jpeg" alt="">
                </div>
                <div>
                    <img src="/img/logo cecytes.png" alt="">
                </div>
            </div>
            <div class="conte">
                 <div class="d-flex g-1">
                    <div class="fotoestudiante">
                        <img src="/img/foto.png" alt="">
                    </div>
                    <div class="gap"></div>
                    <div class="nombres">
                        <h3 id="name">NOMBRE(S) DEL ASISTENTE</h3>
                        <p><%= nombre %></p>
                        <br>
                        <h3>PRIMER APELLIDO</h3>
                        <p><%= primerApellido %></p>
                        <br>
                        <h3>SEGUNDO APELLIDO</h3>
                        <p><%= segundoApellido %></p>
                    </div>
                 </div>
                 <hr>

                 <div class="datos_participante">
                    <div class="area">
                        <h3>ÁREA DEL COMPONENTE</h3>
                        <p><%= areaComponente %></p>
                        <br>
                        <h3>CLAVE DEL ASESOR</h3>
                        <p><%= claveAsesor %></p>
                    </div>
                    <div class="gap"></div>
                    <div class="nivel">
                        <h3>NIVEL A PARTICIPAR</h3><br> <br>
                        <p><%= nivel %></p>
                    </div>
                 </div>
              
            </div>
         </nav>
    </main>
    <footer>

        <div>
            <p>© todos los derechos reservados</p>
            <a href="https://storyset.com/work">Work illustrations by Storyset</a><br>
            <a href="https://storyset.com/education">Education illustrations by Storyset</a>
        </div>
        
        <div>
            <p>Festival academico </p> 
            <p>CECyTEs</p>
        </div>

    </footer>
</body>
</html>